@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply font-one bg-Blue-900;
  }
}

@theme {
  --font-one: Manrope;
  --color-Blue-200: hsl(193, 38%, 86%);
  --color-Blue-600: hsl(217, 19%, 38%);
  --color-Blue-900: hsl(217, 19%, 24%);
  --color-Blue-950: hsl(218, 23%, 16%);
  --color-Green-300: hsl(150, 100%, 66%);
}
